/* include minimal responsive css */
* {
	font-family:"Bitstream Vera Sans Mono","Courier 10 Pitch","Nimbus Mono L",Monaco,"Courier New",Courier,"OCR A Extended","DejaVu Sans Mono","Lucida Console",monospace;
	background-color:white;
	color:black;
	font-size:100%;
	text-shadow: 1px 1px 1px lightgray;
}
p {
	margin: 10px;
}
h1 {
	font-size:110%;
	color:#000000;
}
h2 {
	font-size:110%;
	color:darkgray;
}
h3 {
	font-size:110%;
	color:gray;
}
h3[class="warning"] {
	font-size:120%;
	color:#FF0000;
	font-weight: bold;
}
img, embed, object, video, audio {
	max-width:100%;
	height:auto;
}
/* links */
a:link {color: darkgreen;}
a:visited {color: darkblue;}
a:hover {
	color: darkred;
	font-style: italic;
}
a:active {color: red;}
/* action menu */
a[class="action"] {
	color: black;
	text-decoration: none;
	text-shadow: 0px 0px 0px white;
	padding: 2px;
	margin: 2px;
	margin-right: -0.5em;
	border-radius: 5px;
}
a[class="action"]:hover {
	background-color: palegreen;
	border-color: darkgreen;
}
a[class="action-big"] {
	color: black;
	text-decoration: none;
	font-size: 110%;
	font-weight: 900;
	color: black;
	text-shadow: 0px 0px 0px white;
	padding: 2px 2px 2px 2px;
	border: 2px solid darkgreen;
	border-radius: 5px;
}
a[class="action-big"]:hover {
	background-color: palegreen;
	border-color: darkgreen;
}
/* table */
table, th, td {
  border: 1px solid;
}
/* for small screens */
@media screen and (min-width:1230px) {
	.framed {
		border: 1px dotted gray;
	}
	a[class="formframe"] {
		border: 1px solid gray;	
	}
	a[class="action"] {
		border: 1px solid gray;
	}
	textarea, input, select {
		border: 1px solid gray;
		max-width:100%;
	}
	input[readonly="readonly"] {
		border: 1px dotted gray;
	}
}
/* forms */
/*
#pages p {
	margin: 5px 5px 5px 5px;
}
*/
/*
#users p {
	margin: 5px 5px 5px 5px;
}
*/
a[class="formframe"] {
	color: black;
	text-decoration: none;
	text-shadow: 0px 0px 0px white;
	padding: 2px 2px 2px 2px;
	border-radius: 5px;
}
a[class="formframe"]:hover {
	background-color: palegreen;
	border-color: darkgreen;
}
textarea,input {
	max-width:100%;
	padding: 2px 2px 2px 2px;
	/* margin: 0px -1px 0px 0px; */
	/* text-shadow: 0px 0px 0px white; */
}
input[readonly="readonly"] {
	padding: 2px 2px 2px 2px;
	/* margin: 0px -1px 0px 0px; */
	/* text-shadow: 0px 0px 0px white; */
}
select {
	border: 1px solid gray;
}
input[type="checkbox"] {
	vertical-align:middle;
	margin: 0px 0px 0px 0px;
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
input[type="submit"] {
	font-weight: bold;
	border-radius: 5px;
}
input[type="file"] {
	border: none;
}
input[type="submit"]:hover {
	font-style: italic;
	background-color: palegreen;
	border-color: darkgreen;
}*
/* general classes */
.tag {
	font-size:110%;
	color:#008000;
	font-weight: bold;
	font-style: italic;
}
.framed {
	padding: 2px 2px 2px 2px;
	margin: 0px -1px 0px 0px;
	text-shadow: 0px 0px 0px white;
}
.framed  a {
	text-shadow: 0px 0px 0px white;
}
.framed  a:hover {
	background-color: palegreen 
}
.username {
	font-size:110%;
	color:red;
}
.files {
	font-size:110%;
	color:red;
}
.box {
	font-size:110%;
	font-weight: bold;
	padding: 2px 2px 2px 2px;
	margin: 0px -1px 0px 0px;
	text-shadow: 0px 0px 0px white;
	border: 2px solid gray;
}

