/* include minimal responsive css */
* {
	font-family:Tahoma,"Trebuchet MS","Nimbus Sans L",Arial,"Franklin Gothic Medium","Helvetica Neue",Geneva,Verdana,
	"URW Gothic L","Gill Sans",Helvetica,"Lucida Sans Unicode","Arial Black","Lucida Grande","Microsoft Sans Serif",sans-serif;
	color:black;
	font-size: 100%;
	text-shadow: 2px 2px 2px lightgray;
	background-color:white;
}
h1 {
	font-size:130%;
	color:black;
}
h2 {
	font-size:110%;
	color:DarkSlateGray;
}
h3 {
	font-size:110%;
	color:DarkSlateGray;
}
img, embed, object, video, audio {
	max-width:100%;
	height:auto;
}
/* links */
a:link {color: darkgreen;}
a:visited {color: darkblue;}
a:hover {
	color: darkred;
	font-style: italic;
}
a:active {color: red;}
/* forms */
textarea,input {
	text-shadow: 0px 0px 0px white;
	padding: 2px 2px 2px 2px;
	margin: 0px -3px 0px 0px;
	border: 1px solid gray;
	max-width:100%;
	height:auto;
}
input[type=submit],.login {
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 0px 0px white;
	padding: 2px 2px 2px 2px;
	margin: 0px 5px 0px 0px;
}
input[type=submit]:hover {
	background-color: palegreen;
	border-color: darkgreen;
}
input[class="navsubmit"]{
	font-weight:bold;
	border:none;
}
/* scrolling menu form */
#navSelect {
	font-size:110%;
	border:1px solid white;
	color:black;
	margin: 0px 0px 20px 0px;
}
#navSelect option {
	font-size:110%;
}
#navSelect option[selected="selected"] {
	font-size:110%;
	font-weight:bold;
}
#navSelect:hover {
	border-color: gainsboro;
	background-color: gainsboro;
}
/* or line menu */
a[class="menu"] {
	display: inline-block;
	font-size:110%;
	color:black;
	text-decoration: none;
	text-shadow: none;
	padding: 0.1em;
	margin-top: 0;
	margin-bottom: 1px;
	margin-right: -0.1em;
	margin-left: 0;
	border: 1px solid black;
}
a[class="menu"]:hover {
	border-color: gainsboro ;
	background-color: gainsboro ;
}
/* or list */
#menulist {
	width: 100%;
	padding: 0;
	margin: 0;
}
#menulist ul {
	width: auto;
	/* only with margin */
	/* list-style-type: '-> '; */
	/* list-style-type: inherit; */
	margin: 0;
	padding: 0;
	margin-left: 0.3em;
}
#menulist ol {
	width: auto;
	margin: 0;
	padding: 0;
	margin-left: 0.3em
}
#menulist li {
	display: block;
	white-space: nowrap;
	border: 1px solid gray;
	padding: 0.3em;
	margin: 0.1em;
}
#menulist li a {
	text-decoration: none;
	background-color: inherit;
}
#menulist li:hover {
	background-color: gainsboro;
}
/* for small screens */
@media screen and (min-width:1230px) {
	#menulist {
		width: auto;
		float: left;
		margin-right: 0.3em;
	}
}
/* 
/* others */
header {
	font-size:110%;
	font-weight: normal;
	color: darkgray;
}
nav {}
article {
	margin:0.1em;
}
footer {
	margin:0.1em;
}
.navigation {}
.pagenumbers {}
.pageurl{
	font-size:80%;
	color: gray;
}
.pageurl a {
	font-size:inherit;
}
.contenturl{
	font-size:80%;
	color: gray;
}
.contenturl a {
	font-size:inherit
}
.contact{}
.contactsite {}
.username {}
.userdescription {}
.userarticleslisttitle {}
.userarticleslist {}
.userlinsklisttitle {}
.userlinkslist {}
.usermail {}
.linklogin {}
.credits {}











